.navbar-nav > li > a
{
    padding-top: 16px;
    padding-bottom: 16px;
}

.navbar-header {
    display: flex;
}

.navbar-header button {
    margin-left: auto;
}

.navbar-header.active > a
{
    color: #fff;
    background-color: #272727;
}

.bs-sidenav a {
    text-overflow: ellipsis;
    overflow: hidden;
}

.alpha_checkered {
    width: %1px;
    height: %2px;
    background-color: white;
    background-size: 64px 64px;
    background-image:
        linear-gradient(to right, rgba(0, 0, 0, .3) 50%, transparent 50%),
        linear-gradient(to bottom, rgba(0, 0, 0, .3) 50%, transparent 50%),
        linear-gradient(to bottom, white 50%, transparent 50%),
        linear-gradient(to right, transparent 50%, rgba(0, 0, 0, .5) 50%);
}
